<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="testingComponents.ListenersNG"></listener>
	</listeners>
	<test thread-count="5" name="E-Commerce">
		<classes>
			<class name="TestAdmin.TestAddSystemUsers" />
			<class name="TestAdmin.TestAdminSearchPage" />
			<class name="TestAdmin.TestLoginLandingPage" />
			<class name="TestAdmin.TestCorporateBranding" />
			<class name="TestAdmin.TestDeleteSystemUsers" />
			<class name="TestAdmin.TestEditSystemUsers" />
			<class name="TestAdmin.TestJobTitle" />
			<class name="TestAdmin.TestOrganization" />
			<class name="TestAdmin.TestWorkShift" />
			<class name="TestAdmin.TestConfiguration" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->